body.dark-mode {
    background-color: #0b0c0b;
    color: white;
  }
  
  header.dark-mode,
   footer.dark-mode,
    aside.dark-mode {
    background-color: #0d0e0d !important;
  }
  
  .product.dark-mode {
    background-color: rgb(71, 68, 68);
    /* #2c2c2c; */
    color:white;
  }
  
  .login-box.dark-mode,
  .details-box.dark-mode,
  #cartItems.dark-mode,
  #invoiceContent.dark-mode {
    background-color: #2a2a2a;
    color: white;
  }
  
  button.dark-mode {
    background-color: #6fa110;
  }
  
  button.dark-mode:hover {
    background-color: #32b60a;
  }
  